clearsky_day ICON "assets/weathericons/ico/clearsky_day.ico"
cloudy ICON "assets/weathericons/ico/cloudy.ico"
fair_day ICON "assets/weathericons/ico/fair_day.ico"
fog ICON "assets/weathericons/ico/fog.ico"
heavyrain ICON "assets/weathericons/ico/heavyrain.ico"
heavyrainandthunder ICON "assets/weathericons/ico/heavyrainandthunder.ico"
heavysleet ICON "assets/weathericons/ico/heavysleet.ico"
heavysleetandthunder ICON "assets/weathericons/ico/heavysleetandthunder.ico"
heavysnow ICON "assets/weathericons/ico/heavysnow.ico"
lightrain ICON "assets/weathericons/ico/lightrain.ico"
lightsleet ICON "assets/weathericons/ico/lightsleet.ico"
lightsnow ICON "assets/weathericons/ico/lightsnow.ico"
partlycloudy_day ICON "assets/weathericons/ico/partlycloudy_day.ico"
rain ICON "assets/weathericons/ico/rain.ico"
sleet ICON "assets/weathericons/ico/sleet.ico"
sleetandthunder ICON "assets/weathericons/ico/sleetandthunder.ico"
snow ICON "assets/weathericons/ico/snow.ico"
exclamation-circle ICON "assets/tabler-icons/exclamation-circle.ico"
